@import "font-awesome.css";
@import "namari-color.css";
@import "style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: FontAwesome;
        src: url('../fonts/fontawesome-webfont.woff');
    }
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.otf') format('otf'),
    url('../fonts/Cinzel-Black.otf') format('otf');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.otf') format('otf'),
    url('../fonts/Cinzel-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.otf') format('otf'),
    url('../fonts/Cinzel-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.otf') format('otf'),
    url('../fonts/Cinzel-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/EurostileRegular.woff2') format('woff2'),
    url('../fonts/EurostileRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/Eurostile-Oblique.woff2') format('woff2'),
    url('../fonts/Eurostile-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/EurostileBold.woff2') format('woff2'),
    url('../fonts/EurostileBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eurostile Extended';
    src: url('../fonts/EurostileExtended-Roman.woff2') format('woff2'),
    url('../fonts/EurostileExtended-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retro Signature';
    src: url('../fonts/RetroSignatureRegular.woff2') format('woff2'),
    url('../fonts/RetroSignatureRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    scroll-behavior:smooth;
}

:root {
    --primary-brand-color: #2563eb;
    --swiper-scrollbar-drag-bg-color:#B6967B;
    --swiper-scrollbar-border-radius:0;
    --swiper-scrollbar-sides-offset:5%;
}

/* debut du menu et du layer */

[x-cloak] {
    display: none !important;
}

.menu-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.line {
    fill: none;
    stroke: #b6967b;
    stroke-width: 3;
    transition: all 0.3s ease;
}

.line1, .line3 {
    transform-origin: 15px 25px;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 99999;
    padding: 50px 20px;
}

.side-menu.show {
    transform: translateX(0);
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 20px 0;
    font-size: 20px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.grecaptcha-badge{ display: none!important;}
 /* fin du menu et du layer */

.swiper_exterior{
    width: 100%;
    height: calc(100vh - 40px);
}

@media screen and (max-width: 640px) {
    .swiper_exterior{
        width: 100%;
        height: 350px;
    }
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    display: flex;
    align-items: center;
    bottom: 20%!important;
}

.swiper-scrollbar-drag{
    padding: 4px;
}


.parralax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parralax_2{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@supports (-webkit-touch-callout: none) {
    .parralax {
        background: url('../images/bg-croisette-parralax.webp') center top no-repeat scroll;
        background-size: auto 100vh;
    }

    #parralax_2{
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100vh;
    }
}

.swiper-button-prev, .swiper-button-next{
    background-color: rgba(255,255,255, 0.8)!important;
    padding: 30px!important;
    color: #B6967B!important;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
}

.model-inner {
    width: 33.3%;
    background-color: white;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
}

.model-inner input{
    padding: 0 1rem;
    border-radius: 5px;
    width: 100%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}

[x-cloak] {
    display: none !important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
    z-index: 9999;
}



@media only screen and (max-width: 600px) {
    .model-inner {
        width: 90%;
        background-color: white;
        border-radius: 0.5em;
        max-width: 90%;
        padding: 2em;
        margin: auto;
    }
}
